
    <div id="wrapper" class="toggled"> <!-- sidebar -->

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">
              Start Bootstrap
            </a>
          </li>
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Shortcuts</a>
          </li>
          <li>
            <a href="#">Overview</a>
          </li>
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>

      <div class="page-content-wrapper">




        <div class="body-div">
          <!-- <div class="container col-md-12 section-seperator one">
            <span class="center    section-intro section-seperator-txt">Testimonials</span>
          </div> -->

          <div class="jumbotron section-seperator-txt text-center">
            <h1 class="section-seperator-txt">So you want to know about me...</h1>

          </div>
          <div class="cover-container">
            <img class="image-of-me" src="../images/meCol.jpg" alt="">
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h3>Work</h3>
                <p class="about-para">Shaun is a highly driven and adaptable consultant, with a great curiosity for anything tech related. He is consistently able to give clear and creative solutions to problems since his time spent working with computers and creating websites. Since being in a highly successful and efficient team of staff at his previous job, he prides himself on both his ability to deal with people and to form very productive relationships, through a good understanding of colleagues and clients. </p>

                <p>Besides this, his motivation towards self-improvement is very important to him. Believing that constant improvement is the key to success in any aspect of life, he is always wanting to develop himself through online courses, and any form of advice he can get. He also has an extremely conscientious attitude, he will actively try to improve the business any way that is within his power. This active approach gives clients prime access to his strong skills and unique ideas, ideas that were key to improving his previous employer’s business.</p>
              </div>
              <div class="col-md-6">
                <h3>Life</h3>
                <p>A recent graduate with a 2:2 BSci in Physics from the University of Nottingham. Grades in modules relating to programming and problem solving skills were of a much higher 1:1 standard. Always been highly gifted in maths from a young age, having been top of the year group for most of my academic life. Looking to further develop skills in programming and to put my current skills to good and useful work.</p>
                <h2>Education</h2>
                <ul>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>


        </div>




      </div>
    </div>
    <!-- jQuery -->
    <script>
    $(".menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    });
    </script>
    <!-- jQuery for sidebar -->

    <script>src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
